<div class="col-md-3">
  <%= check_box_tag "word_ids[]", word.id, false, class: "radio_word" %>
  <%= word.content %>
  <%= link_to t("admin.word.delete.display"), admin_word_path(word),
    method: :delete, data: {confirm: t("admin.word.delete.confirm")},
    class: "text-danger" %>
</div>
